/* Reset styles and setup for the page */
body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

/* Title styling */
#level-title {
  font-size: 3rem;
  margin: 5% 0;
}

/* Container styling */
.container {
  width: 80%;
  margin: auto;
}

/* Row styling for button layout */
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Button styling */
.btn {
  margin: 10px;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: translateY(-5px); /* Move the button up slightly on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.red {
  background-color: #FF4C4C;
  background: linear-gradient(145deg, #FF5959, #FF2626);
}

.green {
  background-color: #4CAF50;
  background: linear-gradient(145deg, #5EC45E, #45B045);
}

.blue {
  background-color: #1C8DFF;
  background: linear-gradient(145deg, #40A3FF, #006FD6);
}

.yellow {
  background-color: #FFC107;
  background: linear-gradient(145deg, #FFCD38, #FFB300);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #011F3F;
  color: #FEF2BF;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
}

/* Responsive design adjustments */
@media (max-width: 1024px) {
  #level-title {
    font-size: 2.5rem;
  }

  .container {
    width: 90%;
  }

  .btn {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 768px) {
  #level-title {
    font-size: 2rem;
  }

  .container {
    width: 95%;
  }

  .btn {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 480px) {
  #level-title {
    font-size: 1.5rem;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }

  .btn {
    height: 80px;
    width: 80px;
  }
}
